# Gradle
.gradle/
build/
**/build/

# Android
*.apk
*.aab
local.properties

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws
out/

# MacOS
.DS_Store

# Native build
.externalNativeBuild/
.cxx/

# Logs
*.log
